{% extends "registration/base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}

<h1>Log in</h1>

{% if form.errors %}
<p class="error">Please correct the errors below:</p>
{% endif %}

<form roll="form" id="frm_login" class="animated fadeIn" method="POST" action="?next={{ next|default:"/" }}">
{% csrf_token %}
	<div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
    	<div class="col-md-12 col-sm-12 ">
    		<div class="form-group">
				<label for="id_username">Pilot ID:</label>
				<input type="username" name="login_username" class="form-control" id="login_username">
				{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}
				<!-- {{ form.username }} -->
			</div>
		</div>
	</div>

	<div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
    	<div class="col-md-12 col-sm-12 ">
    		<div>
				<label for="id_password">Password:</label>
				<input type="password" name="login_pass" class="form-control" id="login_pass">
				{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}
				<!-- {{ form.password }} -->
			</div>
		</div>
	</div>
<div>
	<input class="btn btn-danger btn-cons" type="submit" value="Login" />
</div>
<p>If you don't have an account, you can <a href="/accounts/register/">sign up</a> for one.</p>
</form>

{% endblock %}