{% extends "registration/base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}

  <h1>Create an account</h1>
  
  <form roll="form" id="" method="POST" action="" class="wide">
	{% csrf_token %}
    
    {% if form.non_field_errors %}
      <div class="form-group">
          <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
              <span>{{error}}</span>
            {% endfor %}
          </div>
        </div>
    {% endif %}

      <div class="form-group {% if form.username.errors %}has-error{% endif %}">
        <label for="id_username">Pilot ID:</label>
        <input type="text" name="username" class="form-control" id="login_username" value="{% if form.login_username.value %}{{form.login_username.value}}{% endif %}">
      </div>
      <div class="help-block">
              {% for error in form.username.errors %}
                <span>{{ error }}</span>
              {% endfor %}
          
      </div>

      <div class="form-group {% if form.email.errors %}has-error{% endif %}">
        <label for="id_email">Email address:</label>
        <input type="email" name="email" class="form-control" id="login_email">
      </div>
      <div class="help-block">
              {% for error in form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
          
      </div>

      <div class="form-group {% if form.password1.errors %}has-error{% endif %}">
        <label for="id_password1">Password:</label>
        <input type="password" name="password1" class="form-control" id="login_pass">
      </div>
      <div class="help-block">
              {% for error in form.password1.errors %}
                <span>{{ error }}</span>
              {% endfor %}
          
      </div>

      <div class="form-group {% if form.password2.errors %}has-error{% endif %}">
        <label for="id_password2">Confirm Password:</label>
        <input type="password" name="password2" class="form-control" id="login_pass">
      </div>
      <div class="help-block">
              {% for error in form.password2.errors %}
                <span>{{ error }}</span>
              {% endfor %}
          
      </div>
  <div>
    <p class="submit"><input type="submit" value="Register &rarr;"></p>
  </div>
  
  </form>
  


<p>Fill out the form to the left (all fields are required), and your
account will be created; you'll be sent an email with instructions on how
to finish your registration.</p>

<p>We'll only use your email to send you signup instructions. We hate spam
as much as you do.</p>

<p>This account will let you log into the ticket tracker, claim tickets,
and be exempt from spam filtering.</p>

{% endblock %}
